    .main {
        /* padding: 50px; */
        min-height: 90%;
        height: 92%;
        background: url(./BackgroundPicture/background.jpg) no-repeat center bottom;
        background-size: cover;
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
    }