.Footer {
    /* min-height: 15%; */
    /* width: 100%; */
    width: 100%;
    height: 100%;
    background-color: white;
    color: #898989;
}

.Container {
    margin: auto;
    margin: 0 auto;
    /* background-color: black; */
}


/* .Icons {
    margin-bottom: -16px;
}

.LinedIn {
    color: inherit;
    text-decoration: none;
    margin-right: 10px;
}

.GitHub {
    color: inherit;
    text-decoration: none;
    margin-left: 10px;
}

.Owner {
    font-size: 12px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.54);
} */